---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/movies/v2/reviews/search.json?api-key=247b93157509e7e302709ee77c987b3d:17:69904243&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 02 Oct 2014 08:19:07 GMT
      Etag:
      - '"Thu, 02 Oct 2014 08:19:07 GMT"'
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2014 The New York Times Company.  All
        Rights Reserved.","num_results":25694,"results":[{"nyt_movie_id":477301,"display_title":"Men,
        Women & Children","sort_name":"Men, Women & Children","mpaa_rating":"R","critics_pick":0,"thousand_best":"0","byline":"A.
        O. Scott","headline":"Games People Play, Both Online and Off ","capsule_review":"","summary_short":"&ldquo;Men,
        Women &amp; Children\u201d is Jason Reitman&rsquo;s multistory film about
        middle-class families with teenagers, Internet connections and digital issues.","publication_date":"2014-10-01","opening_date":"2014-10-01","dvd_release_date":null,"date_updated":"2014-10-01
        04:19:05","seo_name":"Men-Women-Children","link":{"type":"article","url":"http:\/\/movies.nytimes.com\/2014\/10\/01\/movies\/adam-sandler-in-jason-reitmans-men-women-children.html","suggested_link_text":"Read
        the New York Times Review of Men, Women & Children"},"related_urls":[{"type":"overview","url":"http:\/\/movies.nytimes.com\/movie\/477301\/Men-Women-Children\/overview","suggested_link_text":"Overview
        of Men, Women & Children"},{"type":"showtimes","url":"http:\/\/movies.nytimes.com\/movie\/477301\/Men-Women-Children\/showtimes","suggested_link_text":"Tickets
        & Showtimes for Men, Women & Children"},{"type":"awards","url":"http:\/\/movies.nytimes.com\/movie\/477301\/Men-Women-Children\/details","suggested_link_text":"Cast,
        Credits & Awards for Men, Women & Children"},{"type":"community","url":"http:\/\/movies.nytimes.com\/movie\/477301\/Men-Women-Children\/rnr","suggested_link_text":"Readers''
        Reviews of Men, Women & Children"},{"type":"trailers","url":"http:\/\/movies.nytimes.com\/movie\/477301\/Men-Women-Children\/trailers","suggested_link_text":"Trailers
        & Clips for Men, Women & Children"}],"multimedia":{"resource":{"type":"thumbnail","src":"http:\/\/graphics8.nytimes.com\/images\/2014\/09\/30\/arts\/menwomen-image\/menwomen-image-thumbStandard.jpg","height":75,"width":75}}},{"nyt_movie_id":476933,"display_title":"Nas:
        Time is Illmatic","sort_name":"Nas: Time is Illmatic","mpaa_rating":null,"critics_pick":0,"thousand_best":"0","byline":"Nicolas
        Rapold","headline":"How a Meteor Rose From a Hotbed of Hip-Hop","capsule_review":"","summary_short":"&ldquo;Nas:
        Time Is Illmatic\u201d revisits a rapper&rsquo;s roots in a Queens housing
        project and credits his parents for striving to nurture his ambition.","publication_date":"2014-10-01[...]
